@font-face {
    font-family: 'msyh';
    font-style: normal;
    font-weight: Bold !important;
    src: url('fonts/pill/Pill_Gothic_300mg_Bold.ttf') format('truetype');
}

h1 .hi{
    color: blue;
}

.dataTables_paginate a.paginate_button.current {
    font-size: 12px;
    color: #ebd037;
    background-color: #001f50 !important;  
    border-radius: 100%;
    text-align: center;
    padding: 4px 10px;
    margin-right: 10px;
    margin-left: 10px;

  }
  


.table-hover-index > tbody > tr:hover{ /* estilos de la tabla de control de estaciones en el efecto hover */
    border-top: 16px solid #E3BA00;
    border-bottom: 2px solid #E3BA00;
}

.thead-index-existencias{ /* estilos de la tabla de existencias*/
    border-top: 16px solid #E3BA00;
    font-family: 'msyh';
    color:#FFFFFF;
    background: linear-gradient(to right,#2962FF 55%, #36bea6);
}

.thead-index{/* encabezado principal de la tabla estaciones */
    border-radius: 20px !important;
    color:#FFFFFF;
    background: linear-gradient(to right,#0E3A8A 65%, #E3BA00);

}

.bg-auht{
    display: table;
    position: relative;
    background-image: url(../img/sacar-hero1.JPG);
    background-size: cover;
    padding: 120px 0;
    width: 100%;
    height: 100vh;
} 

.modal-lg{
    max-width: 85%;
}

.modal-xl{
    max-width: 80%;
}

.bg-place{
    background-color: black;
} 

.text-title{
    color: black;
    font-size: 15px;
    font-weight: 650;
}

.btn-sacar{
    color: #ebd037;
    border-color: #001f50;
    background-color: #001f50;   
}

.bg-slaider{
    background-color: #525f7f;   
}

.color-title-sacar{
color: #001f50;  
}
.color-title-whites{
    color: #ffffff;  
} 

.margin-form{
    margin-top: 20rem !important;
    margin-bottom:0rem !important;
    position: absolute !important ;
    height: 850px !important;
}

.fieldset-form{
    margin-top: 15px;
    margin-bottom: 15px;
}

.fieldset-form > legend{
    font-size: 14px;
    color: #1686A9;
    background-color: #ECFBFF;
    margin-bottom: 15px;
    padding: 5px;
    border-bottom: 1px solid #79C9E1;
} 

#form_section1 fieldset:not(:first-of-type) {
    display: none;
}

#form_section4 fieldset:not(:first-of-type) {
    display: none;
} 

#form_section5 fieldset:not(:first-of-type) {
    display: none;
}

#form_section6 fieldset:not(:first-of-type) {
    display: none;
}

#form_section7 fieldset:not(:first-of-type) {
    display: none;
}

#form_section8 fieldset:not(:first-of-type) {
    display: none;
}

#form_section9 fieldset:not(:first-of-type) {
    display: none;
}

#form_section10 fieldset:not(:first-of-type) {
    display: none;
}

#form_section11 fieldset:not(:first-of-type) {
    display: none;
}

.sacar_lef{
    margin-bottom: 10px;
}

.form_section{
    width: 100%;
} 

.txt_secction{
    margin-left: 35%;
}

/** placeorder inicio de la pagina**/
.preloader {
    z-index: 99999;
    background: #fff
}

.card-fullscreen,
.preloader {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed
} 

.lds-ripple {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px)
}
.lds-ripple .lds-pos {
    position: absolute;
    border: 2px solid #2962FF;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, .1, .5, 1) infinite
}
.lds-ripple .lds-pos:nth-child(2) {
    animation-delay: -.4s
}
@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 0
    }
    5% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0
    }
}



